.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)), url('../../assets/hero.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    max-width: 800px;
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 700;
}

.hero-content p {
    font-size: 18px;
    margin: 10px auto 20px;
    max-width: 600px;
    line-height: 1.4;
}