.testimonals {
    margin: 80px auto;
    padding: 0 90px;
    position: relative;
}

.next-icon,
.back-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    background-color: #212ea0;
    cursor: pointer;
}

.back-icon {
    right: auto;
    left: 0;
}

.slider {
    overflow: hidden;
}

.slider ul {
    width: 200%;
    display: flex;
    transition: all 0.5s ease-in-out;
    transform: translateX(-50%);
}

.slider ul li {
    width: 50%;
    list-style: none;
    padding: 20px;
}

.slider ul li .slide {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 40px;
    border-radius: 10px;
    color: #676767;
    line-height: 1.4;
}

.slide img {
    width: 65px;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid #212ea0;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}

.user-info h3 {
    color: #212ea0;

}


/* ********* media query ********** */

@media (max-width: 800px) {
    .testimonals {
        padding: 0 50px;
    }

    .next-icon,
    .back-icon {
        padding: 10px;
        width: 35px;
    }

    .testimonals ul li {
        padding: 10px;
    }

    .slider ul li .slide {
        padding: 10px;
    }

    .slide img {
        width: 50px;
        border: 3px solid #212ea0;
    }
}

@media (max-width: 600px) {
    .user-info {
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .user-info h3 {
        font-size: 16px;
    }

    .slide p {
        font-size: 12px;
    }
}