.videoplayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoplayer video {
    width: 90%;
    height: auto;
    max-width: 900px;
    border: 2px solid #fff;
}

.videoplayer.hide {
    display: none;
}