.gallery {
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.campus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.campus img {
    width: 22%;
    border-radius: 10px;
}

/* **** media query ***** */

@media (max-width: 640px) {
    .campus {
        flex-wrap: wrap;
    }

    .campus img {
        width: 48%;
        margin-bottom: 25px;
    }
}