@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.btn {
  padding: 14px 25px;
  background: #fff;
  color: #333;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn img {
  width: 20px;
  margin-left: 10px;
}

.btn.dark-btn {
  background: #212ea0;
  color: #fff;
  padding: 14px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


/* ***** Media Queries ***** */

@media (max-width: 1200px) {

  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .btn {
    padding: 14px 22px;
    font-size: 14px;
  }
}