.programs {
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.programs img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.program {
    flex-basis: 31%;
    position: relative;
}

.program-content {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    border-radius: 10px;
    background: rgba(0, 15, 152, 0.3);
    color: #fff;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 70%;
}

.program:hover .program-content {
    opacity: 1;
    padding-top: 0%;
}

.program-content img {
    width: 50px;
    margin-bottom: 10px;
}

/* **** media query ***** */


@media (max-width: 640px) {
    .programs {
        flex-direction: column;
    }

    .program {
        flex-basis: 100%;
        margin: 20px;
    }
}